<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!--定义rabbitmq connectionFactory-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>

    <bean id="springQueueListener" class="com.aisino.rabbitmq.SpringQueueListener"/>
    <bean id="fanoutListener1" class="com.aisino.rabbitmq.FanoutListener1"/>
    <bean id="fanoutListener2" class="com.aisino.rabbitmq.FanoutListener2"/>
    <bean id="topicListenerStar" class="com.aisino.rabbitmq.TopicListenerStar"/>
    <bean id="topicListenerWell1" class="com.aisino.rabbitmq.TopicListenerWell1"/>
    <bean id="topicListenerWell2" class="com.aisino.rabbitmq.TopicListenerWell2"/>

    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
        <rabbit:listener ref="springQueueListener" queue-names="spring_queue"/>
        <rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue1"/>
        <rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue2"/>
        <rabbit:listener ref="topicListenerStar" queue-names="spring_topic_queue_star"/>
        <rabbit:listener ref="topicListenerWell1" queue-names="spring_topic_queue_well1"/>
        <rabbit:listener ref="topicListenerWell2" queue-names="spring_topic_queue_well2"/>

    </rabbit:listener-container>
</beans>