<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!--定义rabbitmq connectionFactory-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>
    <!--定义管理交换机,队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义持久化队列,不存在则自动创建,不绑定交换机则绑定默认交换机,默认交换机类型是direct,名字为"",路由键为队列的名字-->
    <!--
      id:bean的名称
      name:queue的名称
      auto-declare:自动创建
      auto-delete:自动删除
      exclusive:是否独占
      durable:是否持久化
    -->
    <rabbit:queue id="spring_queue" name="spring_queue" auto-declare="true" />

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~广播：所有队列都能接受到信息~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--定义持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_fanout_queue1" name="spring_fanout_queue1" auto-declare="true" />
    <!--定义持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_fanout_queue2" name="spring_fanout_queue2" auto-declare="true"/>
    <!--定义广播类型交换机,并绑定上述两个队列-->
    <!--

    -->
    <rabbit:fanout-exchange id="spring_fanout_exchange" name="spring_fanout_exchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="spring_fanout_queue1"/>
            <rabbit:binding queue="spring_fanout_queue2"/>
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!---~~~~~~~~~~~~~~~~~~~~~~~~~~通配符:*匹配一个单词,#匹配多个单词~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--定义持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_topic_queue_star" name="spring_topic_queue_star" auto-declare="true"/>
    <!--定义持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_topic_queue_well1" name="spring_topic_queue_well1" auto-declare="true"/>
    <!--定义持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_topic_queue_well2" name="spring_topic_queue_well2" auto-declare="true"/>
    <!--定义topic类型交换机,并绑定上述两个队列-->
    <rabbit:topic-exchange id="spring_topic_exchange" name="spring_topic_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="wx.*" queue="spring_topic_queue_star"/>
            <rabbit:binding pattern="wx.#" queue="spring_topic_queue_well1"/>
            <rabbit:binding pattern="kk.#" queue="spring_topic_queue_well2"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--定义rabbitTemplate对象可以在代码方便发送信息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

</beans>